/**
 * Variables
 * ======================================================================== */

_ResponsiveCache = {}
Responsive = extend({
        anti-overlap:     true
        em:               false
        cachable:         false
        fallback:         null
        use-device-width: false

        retina-density:   1.5

        bp:               {
            xs: 320px
            sm: 480px
            md: 720px
            lg: 960px
            xl: 1280px
            hd: 1920px
        }
    }, Responsive)